/*
#mainbckGrd {
   background-image: url(../Images/music-dandelion.jpg);
   -moz-background-size: cover;
   -webkit-background-size: cover;
   background-size: cover;
   background-position: top center !important;
   background-repeat: no-repeat !important;
   background-attachment: fixed;
    
}
*/

#container{
    text-align:center;
}

div p{
    color: darkturquoise;
    font-size: 20px;
    font-family: cursive;
}

#buttonContainer{
    text-align:center;
    font-family: cursive;
}

#buttonContainerRec button{
    margin: 0;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#playlist {
    margin: 0;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.btn-circle {
    border-radius: 50%;
    padding: 0.1em;
    width:1.8em;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}


