<div id="container">{{files}}
            <div ng-show="check">
                <div id="radioContainer" style="text-align:center;">
                    <label class="radio-inline">
                        <input type="radio" ng-model="playAs.kind" value="solo" name="playAs">Solo Play</label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="playAs.kind" value="play" name="playAs">Playlist</label>
                </div>
                <div id="slide" style="text-align:center;">
                    <input type="range" ng-model="slider" ng-click="click()" id="slider" value=0 min=0 max={{sec}} step=1>
                    <span id="playTime">{{}}</span>
                </div>
                <div id="playlist" class="col-md-3 col-sm-4 col-xs-6 thumbnail">
                    <table class="table">
                        <thead style="text-align:center;">
                            <tr>
                                <th>Your Playlist</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="$index" ng-click="clickedRow($index)" ng-repeat="file in files">
                                <td>{{check}}</td>
                                <td>{{file}}</td>
                                <td><button onclick="" ng-click="removeSong($index)" class="btn btn-danger btn-sm btn-circle"><span id="$index" class="glyphicon glyphicon-remove"></span></button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="buttonContainer">
                        <button ng-model="playButton" id="commonPlay" ng-click="play()" class="play btn btn-info"><span class="glyphicon glyphicon-play"></span></button>&nbsp;&nbsp;&nbsp;
                        <button id="pause" ng-click="pause()" class="play btn btn-info"><span class="glyphicon glyphicon-pause"></span></button>&nbsp;&nbsp;&nbsp;
                        <button id="stop" ng-click="stop()" class="play btn btn-info"><span class="glyphicon glyphicon-stop"></span></button>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
            <input type="file" multiple accept=".wav" id="readFile" ng-model="readFile" style='display:none;' onchange="angular.element('#container').scope().callPlay()">
        </div>