  <div id="chart" style="width: 640px; height: 400px;">


</div>  
<div id="buttonContainerRec">
    
    <button ng-click="toggle();record()" class = "btn btn-danger btn-circle btn-xl" ><span class="glyphicon glyphicon-record"></span></button>
    
</div>
<button ng-click="handleZoomAndPan('clicked')">Zoom Out</button>
<button ng-disabled="!showLeftPan" ng-click="panLeftOrRight('left')">Pan Left</button>
<button ng-disabled="!showRightPan" ng-click="panLeftOrRight('right')">Pan Right</button>

